@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600 !important;
}

:root {
    --root-color: #007bff;
    --accent-color: #394855;
    --accent-color-1: #1976d2;
    --none-color: unset;
    --kibo-360: #ec008c;
    --bg-color: #f8f9fa;
    --max-width: 76vw;
    --error: #d32f2f;
    --error-bg: rgba(211, 47, 47, 0.1);
    --accent-color-25: rgba(25, 118, 210, 0.25);
}